* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Source Code Pro', monospace;
}

.header-background {
    width: 100%;
    height: 100vh;
    background: url(img/header2.jpg) no-repeat center/cover;
}
.header-conteiner {
    width: 100%;
    height: 100vh;
    background-color: rgba(176,90,196, .8);
    overflow: hidden;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.header-conteiner__h1 {
    color: #fff;

    font-weight: 400;
    font-style: bold;
    text-align: center;
}
.wave--buttom, .wave--top {
    background-image: url(img/wave.png);
    position: absolute;

    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.wave--top {
    transform: rotate(180deg);

    top: 0;
    left: 0;
}

/*flex*/
.main-grid > h2 {
    background-color: #4c52a0;
    text-align: center;
    margin: 4em 0 2em 0;
    width: 100%;
    color: #fff;
}
.grid-content {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) auto minmax(300px, 1fr);
    gap: 10px;
    text-align: center;
}
.grid-item p {
    margin: 2px 5px;
}
@media screen and (max-width: 1025px){
    .grid-content {
        grid-template-columns: 2fr 1fr;
    }
    .item3 > h2 {
        text-align: right;
        padding-right: 4em;
    }
    .item3 {
        grid-column: 1 / -1;
    }
    .item2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .item2 > img {
        width: 100%;
    }
}
@media screen and (max-width:680px){
    .grid-content {
        grid-template-columns: 1fr;
    }
    .item3 > h2, .item1 >h2 {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .item2 {
        margin: 20px 0 0 0;
    }
}

.item2 > img{
    border-radius: 50px;
    border:2px solid #4c52a0;
    width: 300px;
    height: 300px;
}